@import "tailwindcss";

@layer base {
    h1 {
        @apply text-4xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    h4 {
        @apply text-xl font-semibold;
    }

    h5 {
        @apply text-base font-semibold;
    }

    h6 {
        @apply text-sm font-semibold;
    }
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #f2e1e1;
        --foreground: #000000;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}